body {
    background-color: #000;
    color: #fff;
}

nav {
    background-color: #000;
    margin-bottom: 2%;
}

h1 {
    font-size: 4rem;
}

#showcase {
    padding-top: 20%;
    background: url('./imgs/backgroundImage.png') no-repeat center center/cover;
    height: 100vh;
}

#showcase .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
    /* Overlay */
    position: absolute;
    top: 65px;
    left:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.6);
  }

.elementToFadeInAndOut {
    -webkit-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}

@keyframes fadeinout {
  0%,100% { opacity: 0; }
  50% { opacity: 1; }
}